@model LeagueStandings

@{
    ViewData["Title"] = "LeagueStandings";
}

<h1>@Model.response[0][0].league.name / @Model.response[0][0].league.season</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Group
            </th>
            <th>
                Position
            </th>
            <th>
                Description
            </th>
            <th>
                Logo
            </th>
            <th>
                Team
            </th>
            <th>
                Points
            </th>
            <th>
                Form
            </th>
            <th>
                Played
            </th>
            <th>
                Win
            </th>
            <th>
                Win-OT
            </th>
            <th>
                Lose
            </th>
            <th>
                Lose-OT
            </th>
            <th>
                Goals (+/-)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.response[0]) {
        <tr>
            <td>
                @item.group.name
            </td>
            <td>
                @item.position
            </td>
            <td>
                @item.description
            </td>
            <td>
                <img src="@item.team.logo" width="25"/>
            </td>
            <td>
                @item.team.name
            </td>
            <td>
                @item.points
            </td>
            <td>
                @item.form
            </td>
            <td>
                @item.games.played
            </td>
            <td>
                @item.games.win.total
            </td>
            <td>
                @item.games.win_overtime.total
            </td>
            <td>
                @item.games.lose.total
            </td>
            <td>
                @item.games.lose_overtime.total
            </td>
            <td>
                (@item.goals._for / @item.goals.against)
            </td>
        </tr>
}
    </tbody>
</table>
